.past-movie-container:before,
.past-movie-container:after {
  position: absolute;
  content: '';
  background: rgba(75, 0, 0, 0.75);
  display: block;
  width: 100%;
  height: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.past-movie-container:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
